.container {
  display: flex;
  color: aliceblue;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.main,
.side-menu {
  margin: 10px;
  text-align: center;
}

.main {
  width: 100%;
  transition: 0.5s ease;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  background-color: #191919;
  min-height: 20%;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
.side-menu {
  display: block;
  width: 0;
  border-radius: 20px;
  transition: width 0.5s;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #191919;
}
.menu-content {
  width: 100%;
  height: 100%;
}
