.toggler {
  position: absolute;
  top: 1em;
  right: 2em;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #581299;
  cursor: pointer;
  transition: border-color 0.25s;
}

.app {
  height: 100%;
}

.background {
  background-color: #282c34;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}