a {
    color: inherit;
    text-decoration: none; 
  }
.card a {
    color: white;
}

.card {
    width: 90%;
    position: relative;
    
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    border: 5px solid white;
    aspect-ratio: 9/12;
    margin: 0% 5%;
    height: 250px;
}
.card:hover {
    z-index: 100;  
}

.card-title {
    margin: 5px;
}

.card-media {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.title-row{

}

.card-row{

}

.icons-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    margin-top: 3px;
}