
.back-home{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    align-items: center;
    color: white;
    overflow: hidden;
}

.back-home:hover{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-home::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background: white;
    z-index: 1;
    padding: 1em;
    opacity: 0;
    transition: .5s ease
}

.back-home:hover::before{
    opacity: 0.2;
}
  
.profile-dash {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #2a2a2a;
    width: 50%;
    border-radius: 8px;
    padding: 2rem 1rem;
    aspect-ratio: 9/12;
    gap:7px;
    color: white;
    margin: 20px 0;
}
  
.user-section {
    width: 100%;
}

.section-text {
 font-size: 25px;
 font-weight: bolde;
}

.profile-content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: .4s ease;
}

.profile-icon {
    transition: .4s ease;
    border-radius: 50%;
    position: relative;
    max-width: 40%;
    aspect-ratio: 1/1;
    border: 3px solid #999;
}

.profile-icon::before{
    content: "";
    position: absolute;
    height: 600px;
    width: 500px;
    background : #000000;

    right:0;
    top: 0;
    transition: all .3s;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
    
.profile-icon::hover:before {
    opacity: 1;
}

.user-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.profile-content span{
    color: #999;
    font-weight: light;
    font-size: 15px;
    line-height: 25px;
}

.current-game-section {
    margin-top: 5%;
    width: 100%;
    display: flex; flex-direction: column; align-items: center;
}

.current-playing {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    border-radius: 15px;
    border: 1px solid #999;
    padding: 1em;
    background-color: #262626;
    max-height: 5em;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    min-height: 80px;
}

.disc {
    font-size: 20px;
    animation: rotating 1s linear infinite both;
}

.edit {
    position: absolute;
    top: 1em;
    right: 1em;
    transition: .4 ease;
    cursor: pointer;
}

.current-playing img{
    max-width: 100px;
    border-radius: 10px;
}

.favorite-games-section{
    width: 90%;
    margin-top: 5%;
    display: flex; flex-direction: column; align-items: center;
}

.favorite-games {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #999;
    padding: 1em;
    background-color: #262626;
}

.favorite-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #959595;
    width: 12em;
    min-height: 100px;
    margin: 10px;
    border-radius: 8px;
    transition: 0.4s ease;
    padding: 1.2rem 1rem;
    aspect-ratio: 9/12;
    gap: 0.4em;
    overflow: hidden;
}

@keyframes rotating {
    0% {transform: rotate(0);}
    0% {transform: rotate(-360deg);}
}

.empty {
    max-width: 300px;
    opacity: .2;
}